# Final Project

###  CSC 575
### Spoorthi Chamala, Wanshu Wang

In [1]:

import os
import string
import numpy as np
import pandas as pd
import math
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
import re
from numpy import linalg as la
os.chdir('/Users/wanshuwang/Documents/CSDS/DS/CSC575/FinalProject')

In [2]:
df = pd.read_csv("coffee_serps.csv")

In [3]:
df.describe()

,rank,totalResults,count,formattedSearchTime,searchTime,startIndex
count,2390.000000,2.390000e+03,2390.0,2390.000000,2390.000000,2390.0
mean,5.500000,1.714477e+09,10.0,0.324142,0.323877,1.0
std,2.872882,1.447116e+08,0.0,0.115645,0.115236,0.0
min,1.000000,1.260000e+09,10.0,0.180000,0.181038,1.0
25%,3.000000,1.620000e+09,10.0,0.230000,0.233097,1.0
50%,5.500000,1.720000e+09,10.0,0.260000,0.262593,1.0
75%,8.000000,1.810000e+09,10.0,0.450000,0.445443,1.0
max,10.000000,2.150000e+09,10.0,0.650000,0.650605,1.0

In [4]:
df.head(10)

,gl,searchTerms,rank,title,snippet,displayLink,link,queryTime,totalResults,cacheId,...,htmlTitle,inputEncoding,kind,outputEncoding,pagemap,safe,searchTime,startIndex,fileFormat,mime
0,nf,coffee,1,Coffee - Wikipedia,Coffee is a brewed drink prepared from roasted...,en.wikipedia.org,https://en.wikipedia.org/wiki/Coffee,2019-06-20 12:27:11.020962+00:00,1680000000,U6oJMnF-eeUJ,...,<b>Coffee</b> - Wikipedia,utf8,customsearch#result,utf8,"{'cse_thumbnail': [{'width': '259', 'height': ...",off,0.45837,1,NaN,NaN
1,nf,coffee,2,"Coffee: Benefits, nutrition, and risks","Health benefits, say some researchers, may ran...",www.medicalnewstoday.com,https://www.medicalnewstoday.com/articles/2702...,2019-06-20 12:27:11.020962+00:00,1680000000,FB_36c_qnUAJ,...,"<b>Coffee</b>: Benefits, nutrition, and risks",utf8,customsearch#result,utf8,"{'cse_thumbnail': [{'width': '256', 'height': ...",off,0.45837,1,NaN,NaN
2,nf,coffee,3,What is Coffee?,Coffee trees are pruned short to conserve thei...,www.ncausa.org,http://www.ncausa.org/about-coffee/what-is-coffee,2019-06-20 12:27:11.020962+00:00,1680000000,eukMDyc_TlwJ,...,What is <b>Coffee</b>?,utf8,customsearch#result,utf8,"{'cse_thumbnail': [{'width': '337', 'height': ...",off,0.45837,1,NaN,NaN
3,nf,coffee,4,"13 Health Benefits of Coffee, Based on Science",20 Sep 2018 ... Coffee is the biggest source o...,www.healthline.com,https://www.healthline.com/nutrition/top-13-ev...,2019-06-20 12:27:11.020962+00:00,1680000000,u8fDpqqQvRgJ,...,"13 Health Benefits of <b>Coffee</b>, Based on ...",utf8,customsearch#result,utf8,"{'cse_thumbnail': [{'width': '311', 'height': ...",off,0.45837,1,NaN,NaN
4,nf,coffee,5,The History of Coffee,No one knows exactly how or when coffee was di...,www.ncausa.org,http://www.ncausa.org/about-coffee/history-of-...,2019-06-20 12:27:11.020962+00:00,1680000000,lVL_jlE3B80J,...,The History of <b>Coffee</b>,utf8,customsearch#result,utf8,"{'cse_thumbnail': [{'width': '377', 'height': ...",off,0.45837,1,NaN,NaN
5,nf,coffee,6,Coffee and health: What does the research say?...,Coffee has been around for a long time and bla...,www.mayoclinic.org,https://www.mayoclinic.org/healthy-lifestyle/n...,2019-06-20 12:27:11.020962+00:00,1680000000,95mPIYLM1bUJ,...,<b>Coffee</b> and health: What does the resear...,utf8,customsearch#result,utf8,"{'cse_thumbnail': [{'width': '310', 'height': ...",off,0.45837,1,NaN,NaN
6,nf,coffee,7,Coffee Review - The World's Leading Coffee Guide,"Coffee reviews, espresso ratings, informative ...",www.coffeereview.com,https://www.coffeereview.com/,2019-06-20 12:27:11.020962+00:00,1680000000,c9jncvPT1SsJ,...,<b>Coffee</b> Review - The World&#39;s Leading...,utf8,customsearch#result,utf8,"{'cse_thumbnail': [{'width': '195', 'height': ...",off,0.45837,1,NaN,NaN
7,nf,coffee,8,Official Bulletproof Coffee Recipe - With Video,What is Bulletproof Coffee? How do you make it...,www.bulletproof.com,https://www.bulletproof.com/blogs/recipes/offi...,2019-06-20 12:27:11.020962+00:00,1680000000,2aZzCvw2abEJ,...,Official Bulletproof <b>Coffee</b> Recipe - Wi...,utf8,customsearch#result,utf8,"{'cse_thumbnail': [{'width': '308', 'height': ...",off,0.45837,1,NaN,NaN
8,nf,coffee,9,"Coffee: Uses, Side Effects, Interactions, Dosa...","Learn more about Coffee uses, effectiveness, p...",www.webmd.com,https://www.webmd.com/vitamins/ai/ingredientmo...,2019-06-20 12:27:11.020962+00:00,1680000000,D6pRqR-1al4J,...,"<b>Coffee</b>: Uses, Side Effects, Interaction...",utf8,customsearch#result,utf8,{'metatags': [{'viewport': 'width=device-width...,off,0.45837,1,NaN,NaN
9,nf,coffee,10,The Coffee Collective,3 Jun 2019 ... The dream that drives The Coffe...,coffeecollective.dk,https://coffeecollective.dk/,2019-06-20 12:27:11.020962+00:00,1680000000,56yDQh7XaysJ,...,The <b>Coffee</b> Collective,utf8,customsearch#result,utf8,{'metatags': [{'msapplication-tilecolor': '#FF...,off,0.45837,1,NaN,NaN

In [5]:
data = [df["searchTerms"],df['title'], df['snippet']]

In [6]:
df_new = pd.DataFrame(data = data).T

In [7]:
df_new.head(10)

,searchTerms,title,snippet
0,coffee,Coffee - Wikipedia,Coffee is a brewed drink prepared from roasted...
1,coffee,"Coffee: Benefits, nutrition, and risks","Health benefits, say some researchers, may ran..."
2,coffee,What is Coffee?,Coffee trees are pruned short to conserve thei...
3,coffee,"13 Health Benefits of Coffee, Based on Science",20 Sep 2018 ... Coffee is the biggest source o...
4,coffee,The History of Coffee,No one knows exactly how or when coffee was di...
5,coffee,Coffee and health: What does the research say?...,Coffee has been around for a long time and bla...
6,coffee,Coffee Review - The World's Leading Coffee Guide,"Coffee reviews, espresso ratings, informative ..."
7,coffee,Official Bulletproof Coffee Recipe - With Video,What is Bulletproof Coffee? How do you make it...
8,coffee,"Coffee: Uses, Side Effects, Interactions, Dosa...","Learn more about Coffee uses, effectiveness, p..."
9,coffee,The Coffee Collective,3 Jun 2019 ... The dream that drives The Coffe...

In [8]:
# combine title and snippet as doc content
df_new["doc"] = df_new["title"] + " " + df_new["snippet"]

In [9]:
df_doc = df_new.drop(columns = ["title","snippet"])
df_doc

     searchTerms                                                doc
0         coffee  Coffee - Wikipedia Coffee is a brewed drink pr...
1         coffee  Coffee: Benefits, nutrition, and risks Health ...
2         coffee  What is Coffee? Coffee trees are pruned short ...
3         coffee  13 Health Benefits of Coffee, Based on Science...
4         coffee  The History of Coffee No one knows exactly how...
...          ...                                                ...
2385      coffee  Coffee and health: What does the research say?...
2386      coffee  Mugs, Cups, and Glasses – Black Rifle Coffee C...
2387      coffee  'Comedians in Cars Getting Coffee' Announces N...
2388      coffee  Explore our Menu | Starbucks Coffee Company Fr...
2389      coffee  Medium Roast – Black Rifle Coffee Company Cust...

[2390 rows x 2 columns]

### Generate inverted index

In [23]:
# -*- coding: utf-8 -*-
def isEnglish(s):
    """find if a string not English"""
    try:
        s.encode(encoding='utf-8').decode('ascii')
    except UnicodeDecodeError:
        return False
    else:
        return True

In [24]:
def wordFrequency(content):

    """read content(string) and return the dictionary of word frequency
    
     
    """
 

    count_dict ={}



    #remove leading and trailing whitespace
    content = content.strip()
    # remove numbers
    content = re.sub(r'\d+', '', content)
    # remove punctuations and convert characters to lower case
    content = "".join([char.lower() for char in content if char not in string.punctuation])
    content = content.replace("—", "")
    content = content.replace("®", "")
    content = content.replace("·", "")

    #check non-English content
    if isEnglish(content) == True:
        #split the line into words
        words = content.split()



        #increase counters 
        for word in words:
            word = word.lower()
            word = word.translate(str.maketrans('', '', string.punctuation))


            if word not in count_dict and word:
                count_dict[word] = 0
            count_dict[word] +=1
    
  
        



    return count_dict

In [25]:
#remove stopwords
def removeStopwords(content):

    stopWords = set(stopwords.words('english'))
    words = word_tokenize(content)
    #wordsFiltered = []
    wordsFiltered = " "
    # remove the stopwords
    for w in words:
        if w not in stopWords:
            #wordsFiltered.append(w)
            wordsFiltered += " " + w

    return wordsFiltered

In [26]:
str_test = 'Coffee - Wikipedia Coffee is a brewed drink prepared from roasted coffee beans, the seeds of \nberries from certain Coffea species. 1244 The genus Coffea is native to tropical Africa \nand\xa0...'

In [27]:
wordsFiltered = removeStopwords(str_test)
count_dict = wordFrequency(wordsFiltered)
print(count_dict)

{'coffee': 3, 'wikipedia': 1, 'brewed': 1, 'drink': 1, 'prepared': 1, 'roasted': 1, 'beans': 1, 'seeds': 1, 'berries': 1, 'certain': 1, 'coffea': 2, 'species': 1, 'the': 1, 'genus': 1, 'native': 1, 'tropical': 1, 'africa': 1}

In [28]:
df_doc_part1 = pd.DataFrame.from_dict(count_dict,orient='index').T

In [29]:
df_doc_part1

,coffee,wikipedia,brewed,drink,prepared,roasted,beans,seeds,berries,certain,coffea,species,the,genus,native,tropical,africa
0,3,1,1,1,1,1,1,1,1,1,2,1,1,1,1,1,1

In [30]:
str_test2 = df_doc.iloc[1,1]
str_test2

'Coffee: Benefits, nutrition, and risks Health benefits, say some researchers, may range from helping prevent diabetes \nto lowering the risk of liver disease. With over 400 billion cups of coffee thought\xa0...'

In [31]:

wordsFiltered2 = removeStopwords(str_test2)
count_dict2 = wordFrequency(wordsFiltered2)
print(count_dict2)

{'coffee': 2, 'benefits': 2, 'nutrition': 1, 'risks': 1, 'health': 1, 'say': 1, 'researchers': 1, 'may': 1, 'range': 1, 'helping': 1, 'prevent': 1, 'diabetes': 1, 'lowering': 1, 'risk': 1, 'liver': 1, 'disease': 1, 'with': 1, 'billion': 1, 'cups': 1, 'thought': 1}

In [32]:
df_doc_part2 = pd.DataFrame.from_dict(count_dict2,orient='index').T

In [33]:
df_doc_part2

,coffee,benefits,nutrition,risks,health,say,researchers,may,range,helping,prevent,diabetes,lowering,risk,liver,disease,with,billion,cups,thought
0,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [34]:
df_doc_part1 = df_doc_part1.append(df_doc_part2, ignore_index = True)
df_doc_part1

,coffee,wikipedia,brewed,drink,prepared,roasted,beans,seeds,berries,certain,...,prevent,diabetes,lowering,risk,liver,disease,with,billion,cups,thought
0,3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [35]:
df_doc_part1.fillna(0)

,coffee,wikipedia,brewed,drink,prepared,roasted,beans,seeds,berries,certain,...,prevent,diabetes,lowering,risk,liver,disease,with,billion,cups,thought
0,3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [36]:
# combine all the doc together 
for i in range(df_doc.shape[0]):
#for i in range(10): #for testing
    content = df_doc.iloc[i,1]
   
    wordsFiltered = removeStopwords(content)
    count_dict = wordFrequency(wordsFiltered)

    if i == 0: # for the initial
        df_doc_update = pd.DataFrame.from_dict(count_dict,orient='index').T
    else:
        df_doc_part = pd.DataFrame.from_dict(count_dict,orient='index').T
        df_doc_update = df_doc_update.append(df_doc_part, ignore_index = True)

In [37]:
df_doc_update.shape

(1943, 1102)

In [38]:
# fill na as zero
df_doc_update = df_doc_update.fillna(0).T

In [39]:
#reference: https://stackoverflow.com/questions/27084617/detect-strings-with-non-english-characters-in-python
""" non-English example df_doc.iloc[360,1]"""
"""'coffeeの意味・使い方・読み方 | Weblio英和辞書 1000万語収録！Weblio辞書 - coffee とは【意味】コーヒー,コーヒー 1 杯... 【例文】a \ncup of coffee... 「coffee」の意味・例文・用例ならWeblio英和・和英辞書.'"""

"'coffeeの意味・使い方・読み方 | Weblio英和辞書 1000万語収録！Weblio辞書 - coffee とは【意味】コーヒー,コーヒー 1 杯... 【例文】a \ncup of coffee... 「coffee」の意味・例文・用例ならWeblio英和・和英辞書.'"

In [40]:
df_doc_update.head(10)

,0,1,2,3,4,5,6,7,8,9,...,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942
coffee,3.0,2.0,2.0,2.0,2.0,2.0,5.0,3.0,3.0,3.0,...,2.0,3.0,5.0,3.0,3.0,2.0,2.0,2.0,3.0,2.0
wikipedia,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
brewed,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
drink,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
prepared,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
roasted,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
beans,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
seeds,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
berries,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
certain,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [228]:
test_words ="coffee  wikipedia coffee brewed drink prepared roasted coffee beans  seeds berries certain coffea species  the genus coffea native tropical africa "

In [268]:
"""#check non-English content
words_for_check_isEnglish = set(nltk.corpus.words.words())
content_only_English = " ".join(w for w in nltk.wordpunct_tokenize(test_words) if w.lower() in words_for_check_isEnglish or not w.isalpha())
if len(content_only_English) > 1/2*len(test_words):  #if non-English words more than 1/3 content, as non-English content
    print(len(content_only_English))
    print(len(test_words))
    print("nonEnglish")
    print(test_words) # print non-English content to check result"""

'#check non-English content\nwords_for_check_isEnglish = set(nltk.corpus.words.words())\ncontent_only_English = " ".join(w for w in nltk.wordpunct_tokenize(test_words) if w.lower() in words_for_check_isEnglish or not w.isalpha())\nif len(content_only_English) > 1/2*len(test_words):  #if non-English words more than 1/3 content, as non-English content\n    print(len(content_only_English))\n    print(len(test_words))\n    print("nonEnglish")\n    print(test_words) # print non-English content to check result'

### incorporate basic term weighting - TFxIDF

In [271]:
def transer_TFIDF(df):
    
    df_columns = df.columns
    df_index = df.index
    N = df.shape[1]
    
    df_df  = df.astype(bool).sum(axis=1)
    df_df = pd.DataFrame(df_df, columns =["df"])
    
    # idf = log2(N/nk)
    # df - term in one document frequency 
    df_df["idf"] = np.log2(N/df_df["df"])
    pd.options.display.float_format = '{:,.2f}'.format##IDF table
    idf_arr = df_df["idf"].to_numpy()
    df_arr = df.to_numpy()
    res_arr = np.transpose(df_arr)*idf_arr
    df_tfidf_arr = np.transpose(res_arr)
    pd.DataFrame(df_tfidf_arr,columns = df_columns)
    df_tfidf = pd.DataFrame(df_tfidf_arr,columns = df_columns,index = df_index)
    
    
    
    return df_tfidf

In [272]:
df_tfidf = transer_TFIDF(df_doc_update)

In [273]:
df_tfidf.shape

(1102, 1943)

In [274]:
df_tfidf.head(10)

,0,1,2,3,4,5,6,7,8,9,...,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942
coffee,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,...,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01
wikipedia,2.97,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,2.97,0.00,0.00,0.00,0.00,0.00
brewed,3.03,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,3.03,0.00,0.00,0.00,0.00,0.00
drink,2.98,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,2.98,0.00,0.00,0.00,0.00,0.00
prepared,3.03,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,3.03,0.00,0.00,0.00,0.00,0.00
roasted,2.27,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,4.53,0.00,0.00,2.27,0.00,0.00,0.00,2.27,0.00
beans,2.57,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,2.57,0.00,0.00,0.00,0.00,0.00
seeds,3.02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,3.02,0.00,0.00,0.00,0.00,0.00
berries,3.03,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,3.03,0.00,0.00,0.00,0.00,0.00
certain,3.03,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,3.03,0.00,0.00,0.00,0.00,0.00

### compute similarities between documents and queries

In [64]:
df_term_doc_matrix = df_doc_update.T

In [65]:
df_term_doc_matrix.head(10)

,coffee,wikipedia,brewed,drink,prepared,roasted,beans,seeds,berries,certain,...,hands,shethey,mellowcup,george,malaysia,handcraft,pasta,dessertour,barista,qualified
0,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
query1_example = ["coffee","history"]

In [73]:
def QueryList_toarray(Q,dt_matrix):
    """
    conver the query as a list of terms
    to an array
    input
    Q - a string list with the query words
    dt_matrix - a dataframe with doc-term matrix, the term list as the column names
    
    return an array of boolean """
    
    
    term_list = dt_matrix.columns.tolist()
    Q_arr = np.zeros(len(term_list)) 
    for j in range(len(Q)):
        for i in range(len(term_list)):
            
            if Q[j] ==  term_list[i]:
                Q_arr[i]=1
                   
    
    return Q_arr

In [74]:
query_example_arr = QueryList_toarray(query1_example,df_term_doc_matrix) # transfer a query list to an array like
query_example_arr

array([1., 0., 0., ..., 0., 0., 0.])

In [96]:
def CosSim(A,B):
    """compute Cosine similarity for two vectors"""
    num = np.dot(A,B) #dot product
    denom = la.norm(A)*la.norm(B)
    return (num / denom)

In [48]:
def DiceSim(A,B):
    """compute Dice Similarity of two vectors (numpy array)"""
    A_index = np.nonzero(A)
    B_index = np.nonzero(B)
    num_index_A = len(A_index[0]) # the number of Ti in A 
    num_index_B = len(B_index[0]) # the number of Ti in B



    sum_index = num_index_A+num_index_B


    index_common = np.intersect1d(A_index[0], B_index[0], assume_unique=False, return_indices=False)
    num_common = len(index_common)



    coef = 2*num_common/sum_index
    
    return coef

In [49]:
def JaccardSim(A,B):
    """compute Jaccard Similarity of two vectors (numpy array)"""
    A_index = np.nonzero(A)
    B_index = np.nonzero(B)
    num_index_A = len(A_index[0]) # the number of Ti in A 
    num_index_B = len(B_index[0]) # the number of Ti in B



    sum_index = num_index_A+num_index_B


    index_common = np.intersect1d(A_index[0], B_index[0], assume_unique=False, return_indices=False)
    num_common = len(index_common)
    
    coef = num_common/(sum_index - num_common)

    return coef

array([0., 0., 0., ..., 0., 0., 0.])

In [124]:
def query_doc_sim(query_str_lst, doc_term_matrix):
    """compute Jaccard sim (J_sim) and Dice sim (D_sim) and Cosine Sim (Cos_Sim) and return the doc ranking"""
    """input 
    query_str_lst - a list of query words
    doc_term_matrix - a dataframe, which is the original frequency term-document matrix: term-columns, document-rows
    
    output:
    df_doc_sim -  a dataframe with doc name as index, Cosine, Dice, Jaccard similarity as columns 
    ["cos_sim","d_sim","j_sim"]"""
    
    query_arr = QueryList_toarray(query_str_lst,doc_term_matrix) # transfer a query list to an array like

    ##compute similarity 
    num_doc= doc_term_matrix.shape[0]
    
    #initialize the similarity columns
    cos_sim_col = np.zeros(num_doc)
    j_sim_col =np.zeros(num_doc)
    d_sim_col =np.zeros(num_doc)
    
    df_doc_sim = pd.DataFrame(data = np.array([cos_sim_col,j_sim_col,d_sim_col]).T,index = doc_term_matrix.index.tolist(),columns=["cos_sim","d_sim","j_sim"])
    
    
    
    for i in doc_term_matrix.index.tolist():#for each doc, compute the similarity

        df_doc_sim.iloc[i,0]= CosSim(query_arr,doc_term_matrix.iloc[i].to_numpy())#Cosine
        df_doc_sim.iloc[i,1]= DiceSim(query_arr,doc_term_matrix.iloc[i].to_numpy())#Dice
        df_doc_sim.iloc[i,2]= JaccardSim(query_arr,doc_term_matrix.iloc[i].to_numpy())#Jaccard
            
 
    
    return df_doc_sim

In [88]:
df_term_doc_matrix.head(10)

,coffee,wikipedia,brewed,drink,prepared,roasted,beans,seeds,berries,certain,...,hands,shethey,mellowcup,george,malaysia,handcraft,pasta,dessertour,barista,qualified
0,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [126]:
df_term_doc_matrix.shape

(1943, 1102)

In [127]:
query1_example = ["coffee","history"]
df_doc_sim = query_doc_sim(query1_example, df_term_doc_matrix)
df_doc_sim

       cos_sim     d_sim     j_sim
0     0.400892  0.105263  0.055556
1     0.277350  0.090909  0.047619
2     0.316228  0.105263  0.055556
3     0.272166  0.100000  0.052632
4     0.547723  0.285714  0.166667
...        ...       ...       ...
1938  0.277350  0.090909  0.047619
1939  0.272166  0.100000  0.052632
1940  0.316228  0.105263  0.055556
1941  0.363803  0.090909  0.047619
1942  0.272166  0.086957  0.045455

[1943 rows x 3 columns]

In [ ]:
def rank_by_sim(df_doc_sim,sim_method):
    
    """order the documents by the selected similarity method
    Cosine: cos_sim
    Dice: d_sim
    Jaccard: j_sim
    
    return the dataframe with the ordered documents"""
    
    
    return df_doc_ranking

In [ ]:
# final system with the query string input and the top N = 20 doc lst as the output (with the title, snippet, link)
def searchResult(searchWords_str,local_data_matrix):
    
    #query to list and then to array
    
    # query extension 
    
    #compute similarity  -  decide a method based on our comparision 
    
    #relevant feedback
    
    return doc_lst